# Xcode
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
DerivedData/
build/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift
.swiftpm/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
*.swp
*~
.idea/

# Scripts
scripts/__pycache__/
__pycache__/
